@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/*#e60c2c*/
/*#1e1e1e*/

body{
    font-family: 'Poppins', sans-serif;
    background: #0062be;
    color: #fff;
}

.header{
    margin-top: 20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-items{
}

.nav-items:not(:last-child){
    padding-right: 50px;
}

.nav-items a{
    color: #fff;
}

/*info*/

.row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 60px;
}


.row-info{
    max-width: 600px;
    max-height: 400px;
}

.info-text{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.info-text span{
    font-size: 2em;
}

.row-info p{
    margin-bottom: 30px;
}

.btn{
    border: 1px solid #fff;
    background: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    color: #000;
    padding: 7px 18px;
    font-weight: 500;
}

.row-img{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social-media{
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    filter: invert(1);

}

.social-media li{
    width: 25px;
    margin-left: 40px;
}

.social-media img{
    transition: all 0.7 ease;
}

.social-media img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.social-media li:not(:last-child){
    margin-bottom: 22px;
}

.social-media li:first-child{
    width: 15px !important;
}

/*foot img*/

.foot-img{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 40%;    
}

.foot-img img{
    width: 50px;
    transition: all 0.7s ease;
}

.foot-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}











