@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: #fff; */
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

header .logo{
	position: relative;
	max-width: 80px;

}

header ul{
	position: relative;
	display: flex;
}
header ul li a{
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-left: 40px;
	transition: all 0.7s ease;
}

header ul li a:hover{
	color: #017143;
}

.list.dark{
	color: #fff;
}

.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox{
	position: relative;
	max-width: 600px;
}

.content .textBox h2{
	color: #333;
	font-size: 3.8em;
	line-height: 1.4em;
	font-weight: 500;
}

/* dark  */
.content .textBox h2.dark, 
.content .textBox p.dark {
	color: #fff;
}

.content .textBox h2 span{
	color: #017143;
	font-size: 1.2em;
	font-weight: 900;
}

.content .textBox p{
	color: #333;
}

.content .textBox a{
	display: inline-block;
	margin-top: 20px;
	padding:8px 20px;
	background: #017143;
	color: #fff;
	border-radius: 30px;
	font-weight: 500;
	letter-spacing: 1px;
	border: 1px solid #017143;
	transition: all 0.7s ease;
}

.content .textBox a:hover{
	color: #017143;
	background: #fff;
}

.content .imageBox{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 40px;
}

.content .imageBox img{
	max-width: 500px;
}

.thumb{
	position: absolute;
	left: 50%;
	bottom: 60px;
	transform: translate(-50%);
	display: flex;
}

.thumb li{
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}

.rotate{
	transform: rotate(-10deg);
}

.thumb li:hover{
	transform: translateY(-15px);
}


.thumb li img{
	max-width: 60px;
}

.sci{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sci li a{
	display: inline-block;
	margin: 5px 0px;
	transform: scale(0.6);
	filter: invert(1);
}

.circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #017143;
	clip-path: circle(600px at right 800px);
}


/* footer  */
.footer{
	background-color: #017143;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff;
}

/* Fade Down */
#textBox{
	top: -100px;
	opacity: 0;
}

/* Fade Right */
#imgFade{
	position: relative;
	right: -100px;
	opacity: 0;
}

/* hover  */
.list{
	font-size: 1.5em;
}

/* Pic Animation */
.sturbucks{
	animation: animate 3s linear infinite;
}

@keyframes animate{
	0%, 100%{
		transform: translateY(0em);
	}
	50%{
		transform: translateY(3em);
	}
}




























