@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width: 768px) {
    #menu-bar {
        display: inline;
    }

    header .navbars {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbars.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbars a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, 0.1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .order .row form .inputBox input {
        width: 100%;
    }
}